@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

:root{
   --cor-principal: #22a0d6;
   --rosa: #FF95FF;
   --roxo:#C838D6;
   --preto:#000000;
   --cor-branco: #f6f6f6;

   --fonte-principal:'Montserrat', sans-serif; 
   --fonte-secundaria:'Krona One', sans-serif; 
}

* {
   margin: 0;
   padding: 0;
}

.cabecalho{
   padding: 1.2% 0% 0% 6%;
}

.cabecalho__menu{
   display: flex;
   gap: 40px;

}

.cabecalho__menu__link{
   font-family: var(--fonte-principal);
   font-size: 0.9rem;
   font-weight: 600;
   color: var(--cor-principal);
   text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color:black;
    color:var(--cor-branco)
}

.título-destaque {
     color: var(--cor-principal);
}



.instagram{
     color:var(--rosa);
}

.github{
    color:var(--roxo);
}

.apresentacao {
    display: flex;
    padding: 3% 6%;
    align-items: center;
    justify-content: space-between;
    gap: 41px;
 
  }

.conteudo {
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 20px;
 } 

.titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
 }

.txt1 {
    font-size: 1rem;
    font-family: var(--fonte-principal);
 }

 .txt2 {
    font-size: 1rem;
    font-family: var(--fonte-principal);
 }

 .botoes__org {
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
 }

 .contato__botao{
    width: 50%;
    text-align: center;
    border: 2px solid var(--rosa);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 17.5px 0;
    text-decoration: none;
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
 }

 .github__botao{
    width: 50%;
    text-align: center;
    border: 2px solid var(--roxo);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 17.5px 0;
    text-decoration: none;
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
 }

 .github__botao:hover{
background-color:var(--roxo);
font-size: 120%;
 }
 .contato__botao:hover{
background-color: var(--rosa);
font-size: 120%;
 }
.apresentacao__imagem{
   width: 40%;
}
.rodape{
 color: black;
 background-color: var(--cor-principal);
 display: flex;
 justify-content: center;
 font-family: var(--fonte-principal);
 font-size: 1rem;
 font-weight: 600;  
}
@media (max-width: 1200px)
{
   .cabecalho {
      padding: 10%;
   }
   .cabecalho__menu {
      justify-content: center;
   }
   .apresentacao {
      flex-direction: column-reverse;
      padding: 5% 5%;
   }
   .conteudo {
      width: auto;
   }
}